<div class="card">
    <div class="card-body">
      <h4 class="card-title col mb-0">{{ log?.book.title }}</h4>
      <p class="card-text fw-bold">{{ this.bookAuthor }}</p>
      <p class="card-text">{{ log?.thoughts}}</p>
      <!-- <div class="row mt-3">
        <div class="col-7">
          <p class="card-text fw-bold mb-0">Books on Reading List</p>
          <ul>
            <li class="card-text mb-0" *ngFor="let book of author?.books">{{ book.title }}</li>
          </ul>
  
        </div>
        <div class="col-5">
          <img class="img-fluid" src="{{ author?.imageUrl }}" alt="{{ author?.name }}">
        </div>
      </div> -->
      <div class="row pt-4">
        <a class="btn btn-info col mx-1" [routerLink]="['edit']">Edit</a>
        <a class="btn btn-danger col mx-1" (click)="onDelete()">Delete</a>
      </div>
    </div>
  </div>