.bookDiv {
    width: 12rem;
    height: 6rem;
    margin: 2px;
    /* font-size: 1.3rem; */
    border: solid thin lightgray;
    float: left;
    padding: .25rem;
    border-radius: 0.375rem;
    line-height: 1.2;
  }